@font-face {
    font-family: 'BebasNeue';
    src: url(../Bebas-Neue/fonts/BebasNeue\(2018\)ByDhamraType/woff-cffbased/BebasNeue-Regular.woff)format("woff");
}


body {
    font: 18px/36px 'BebasNeue', sans-serif;
    background: #ddd;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0, .2);
    border-radius: 5px;
}

.galery li {
    display: inline-block;
    margin-right: 20px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    /* overflow: hidden; */
    border-radius: 50%;
    border: 3px solid lightseagreen;
    position: relative;
}

.galery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200, .5);
    border-radius: 50%;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .6s;
}

.galery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.container .thumbs li img.thumbs {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0, 0);
    z-index: 999999;
    transition: 3s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    right: 0;
    left: 0;
    background: rgba(0,0,0, .6);
}

.overlay:target .next,
.overlay:target .prev {
    animation: fade .5s .5s forwards;
}

.overlay img.full-size {
    max-height: 100%;
    width: 600px;
    height: 800px;
    text-shadow: 2px 2px 7ox rgba(0,0,0, .5);
}
.overlay:target img.full-size {
    animation: zoominout 1s;
}

.overlay a.close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    color: whitesmoke;
    text-decoration: none;
    background: black;
    border: 1px solid wheat;
    line-height: 14px;
    padding: 10px;
    opacity: 0;
}

.overlay:target a.close {
    animation: slideDown .5s .5s forwards;
}

/* navigaasi */
.next {
    position: absolute;
    width: 57px;
    font-size: 15rem;
    height: 93px;
    top: 55%;
    margin-left: 22rem;
    text-decoration: none;
    color: whitesmoke;
    opacity: 0;
}
.prev {
    position: absolute;
    width: 57px;
    font-size: 15rem;
    height: 93px;
    top: 55%;
    margin-left: -30rem;
    text-decoration: none;
    color: whitesmoke;
    opacity: 0;
}

/* animation */

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoominout {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}